.main__container__ppal{
    width: 100%;
    transition: all 0.5s ease;
}
main{
    height: calc(100vh - 80px);
    margin-top: 60px ;
    padding: 2rem 1.5rem;
    background: $color-claro;
    
}

@include for-size(l){
    .main__container__ppal{
        width: 80%;
        margin-left: 20%;
        transition: all 0.5s ease;
    }
    .padding_main{
        padding: 2rem 1.5rem  2rem 9rem;
    }

    #nav-toggle:checked~.main__container__ppal{
        width: 96%;
        margin-left: 4%;
        transition: all 0.5s ease;       
    }
}