@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;600&display=swap');

$fuente1: 'Rubik', sans-serif;
$fuente2: 'Roboto', sans-serif;

$color-primary: #1379C2;
$color-secondary: #00756A;
$color-primary-light: #65C2B8;
$color-opaco:#999CBF;
$color-terciario: #424575;

$color-claro: #F4F4E9;
$color-oscuro:#020E29;


