.container__tabs{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.ocultar{
    display: none;
}

.cantainer__tabs__title{
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 5px 0 2px;
}

.cantainer__tabs__title  button{
    border: none;
    padding: 10px;
    border-right: 1px solid rgba(0,0,0,0.3);
    background-color: $color-claro;
    color: $color-oscuro;
    border-top-right-radius: 3px;
}

.cantainer__tabs__title  button:focus{
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow:  inset 1px 1px 1px 1px rgba($color-oscuro,0.4)
}



.cantainer__tabs__title label{
    padding: 10px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    cursor: pointer;
    font-family: $fuente1;
}

.cantainer__tabs__title  label i{
    display: inline-block;
    font-size: 1.0rem;
    padding: 5px;
}
.container__tabs__body{
    width: 100%;
    height: 440px;
    position: relative;
}

#tab1, #tab2{
    display: none;
}
.container__tabs__body .tab{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.99);
    transition: all 0.4s ease;
}

#tab1:checked ~ .tab-1,
#tab2:checked ~ .tab-2
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 0.4s ease;

}

@include for-size(s){
    .container__tabs{
        width: 85%;
    }
}

@include for-size(m){
    .container__tabs{
        width: 85%;
    }
}

@include for-size(l){
    .container__tabs{
        width: 100%;
        height: 80vh
    }
}