@import "./components/variables";
@import "./components/mixins";
@import "./components/layout";
@import "./components/login";
@import "./components/home-header";
@import "./components/home-sidebar";
@import "./components/home_main";
@import "./components/home-footer";
@import "./components/commond/button";
@import "./components/commond/posicion";
@import "./components/commond/table";
@import "./components//Modulos/Clientes/clientes"